<p>home works!</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Home</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color: aliceblue;">
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="registration.html">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="Flightlogin.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="FlghtBooking.html">Flight Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Payment</a>
                </li>
                
            </ul> -->
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div> -->
    <div class="card" style="width: 100%;">
        <img src="assets/flghtimg.jpg" class="card-img-top" alt="...">
        <div class="top-right">
            
            <h1>King Flyer</h1>
            <div class="card-body">
                <p class="card-text">King Flyer provides amazing flying experience and customer service. </p>
            </div>
        </div>
    </div>
    <br><br><br><br>

    <div class="row" style=" margin-left:20px ;">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/fg1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">British</h5>
                    <p class="card-text">Book that perfect trip to London and we'll give you the flexibility to change
                        your destination, dates or both with no change fee.</p>
                    <a href="#" class="btn btn-primary">Show More</a>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/fg2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Emirates Airline</h5>
                    <p class="card-text">Open Up A World Of Rewards. Enjoy exclusive travel benefits with Emirates
                        Skywards. Book your flight easily with the latest travel advice to and from your destination.
                    </p>
                    <a href="#" class="btn btn-primary">Show More</a>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/arbus.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Airbus A380-800</h5>
                    <p class="card-text">Airbus A380-800 (388) Three Class Layout 1. Note: There are 3 versions of this
                        aircraft. Seat Map; Info; Photos. Tap any seat for more information.</p>
                    <a href="#" class="btn btn-primary">Show More</a>
                </div>
            </div>

        </div>


    </div>